aside {
    width: calc(40% - 4.5px);
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    border-inline-start: 1.2px solid var(--secondary);
    font-style: italic;
    font-size: 14px;
    color: var(--secondary);
}

aside > p {
    margin: .5rem;
}

@media only screen and (max-width: 600px) {
   aside {
       width: calc(100% - 4.5px);
   }
}

.archive-icon {
    margin-right: 0.5em;
    float: left;
}

.small-menu-item {
    font-size: small;
}

/* Post meta */

.post-meta .basic-data {
    flex-basis: 60%;
}

.post-meta aside {
    order: 10;
    margin-left: auto;
}

#translation-list {
    display: inherit;
    flex-basis: 30%;
}

details {
    margin-bottom: 1em
}

aside details {
    margin-bottom: 0;
}

details .details {
    margin: 0 2px 4px;
    border: 1px solid var(--border);
    /* background: var(--code-bg); */
    background: var(--entry);
    border-radius: var(--radius);
    padding: .2em;
}

details .details p:last-child {
    margin-bottom: 4px;
}

.toc, .dark .toc {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

/************
  * Changes to theme CSS */

.post-meta {
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .post-meta {
        flex-wrap: wrap;
    }

    .post-meta .basic-data, .post-meta aside {
        flex-basis: 100%;
    }

    .post-meta aside {
        margin-left: 4.5px;
    }
}
