.inline-spoiler {
  color: var(--secondary);
  background: var(--secondary);
}

.inline-spoiler:hover::before {
  opacity: 0;
  transform: translateY(-50%)rotateX(80deg);
  transition: opacity 1.0s ease, transform 0.5s ease;
  transition-delay: 0.3s; // To not accidentally reveal the spoiler when hovering over the page
}
