{{- $scratch := newScratch }}
{{- $scratch.Add "footer" (slice (printf "<span>&copy; %v <a href=\"%s\">%s</a></span>" (now.Year) ("" | absLangURL) (site.Title))) }}
{{- range where .Site.RegularPages "Section" "pages" }}
{{- $scratch.Add "footer" (slice (printf "<a href=\"%s\">%s</a>" (.Permalink) (.Title))) }}
{{- end }}

<footer class="footer">
    {{- with ($scratch.Get "footer") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
    {{- end -}}
</footer>
