{{ with .page.Param .notes_param }}
<aside class="update-notes">
    <details>
        <summary>
            {{ i18n "update_notes" . }}
        </summary>
    <dl>
        {{ range . }}
            <dt>
                <span class="timestamp-wrapper">
                    <span class="timestamp">
                        {{ printf `&lt;%s&gt;` (time.Format "2006-01-02" .timestamp)
                        | safeHTML }}
                    </span>
                </span>
            </dt>
            <dd>
                {{ .note | $.page.RenderString | emojify }}
            </dd>
        {{ end }}
    </dl>
    </details>
</aside>
{{ end }}
