{{- if .IsTranslated -}}
{{- if (ne .Layout "search") }}
<span id="translation-list">
{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) }}&nbsp;|&nbsp;{{- end -}}
{{- end }}
<abbr title="{{- i18n "translations-full" | default "Translations" }}">{{- i18n "translations" | default "Trans." }}</abbr>:
<ul class="i18n_list">
    {{- range .Translations }}
    <li>
        <a href="{{ .Permalink }}">
            {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
            {{- .Language.LanguageName | emojify -}}
            {{- else }}
            {{- .Lang | title -}}
            {{- end -}}
        </a>
    </li>
    {{- end }}
</ul>
</span>
{{- end -}}
