<details>
  <summary>
    {{ i18n "book.info" }}
  </summary>
<table>
  <tr>
    <td><em>{{ i18n "book.name" }}:</em></td>
    <td>{{ .Inner }}</td>
  </tr>
  {{ with .Get "author" }}
  <tr>
    <td><em>{{ i18n "book.author" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "rating" }}
  <tr>
    <td><em>{{ i18n "book.rating" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "translator" }}
  <tr>
    <td><em>{{ i18n "book.translator" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "original-title" }}
  <tr>
    <td><em>{{ i18n "book.original-title" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "original-language" }}
  <tr>
    <td><em>{{ i18n "book.original-language" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "cover-art" }}
  <tr>
    <td><em>{{ i18n "book.cover-art" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "pages" }}
  <tr>
    <td><em>{{ i18n "book.pages" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ if .Get "series" }}
  <tr>
    <td><em>{{ i18n "book.series" }}:</em></td>
    {{ if .Get "series-link" }}
    <td><a href="{{ .Get "series-link" }}">{{ .Get "series" }}</a></td>
    {{ else }}
    <td>{{ .Get "series"  }}</td>
    {{ end }}
  </tr>
  {{ end }}
  {{ with .Get "publisher" }}
  <tr>
    <td><em>{{ i18n "book.publisher" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "publication-date" }}
  <tr>
    <td><em>{{ i18n "book.publication_date" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "edition" }}
  <tr>
    <td><em>{{ i18n "book.edition" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ if or (.Get "goodreads") (.Get "link") }}
  <tr>
    <td><em>{{ i18n "book.links.field" }}:</em></td>
    <td>
      {{ with .Get "goodreads" }}
      <a href="{{ . }}">{{ i18n "book.links.goodreads" }}</a>
      {{ end }}
      {{ with .Get "link" }}
      <a href="{{ . }}">{{ i18n "book.link.general"  }}</a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
</table>
</details>
