<details>
  <summary>
    {{ i18n "game.info" }}
  </summary>
<table>
  <tr>
    <td><em>{{ i18n "game.name" }}:</em></td>
    <td>{{ .Inner }}</td>
  </tr>
  {{ with .Get "rating" }}
  <tr>
    <td><em>{{ i18n "game.rating" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "developer" }}
  <tr>
    <td><em>{{ i18n "game.developer" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "publisher" }}
  <tr>
    <td><em>{{ i18n "game.publisher" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "release-date" }}
  <tr>
    <td><em>{{ i18n "game.release-date" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ with .Get "platform-played" }}
  <tr>
    <td><em>{{ i18n "game.platform-played" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ if or (.Get "metacritic") (.Get "review-general") }}
  <tr>
    <td><em>{{ i18n "game.reviews.field" }}:</em></td>
    <td>
      {{ with .Get "metacritic" }}
      <a href="{{ . }}">{{ i18n "game.reviews.metacritic"  }}</a>
      {{ end }}
      {{ with .Get "review-general" }}
      <a href="{{ . }}">{{ i18n "game.reviews.general"  }}</a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Get "status-played" }}
  <tr>
    <td><em>{{ i18n "game.status-played" }}:</em></td>
    <td>{{ . }}</td>
  </tr>
  {{ end }}
  {{ if or (.Get "hltb") (.Get "length-general") }}
  <tr>
    <td><em>{{ i18n "game.length.field" }}:</em></td>
    <td>
      {{ with .Get "length-general" }}
      {{ . }}<br>
      {{ end }}
      {{ with .Get "hltb" }}
      <a href="{{ . }}">{{ i18n "game.length.hltb"  }}</a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ if or (or (.Get "steam") (.Get "gog")) (.Get "link-general") }}
  <tr>
    <td><em>{{ i18n "game.links.field" }}:</em></td>
    <td>
      {{ with .Get "steam" }}
      <a href="{{ . }}">{{ i18n "game.links.steam" }}</a>
      {{ end }}
      {{ with .Get "gog" }}
      <a href="{{ . }}">{{ i18n "game.link.gog"  }}</a>
      {{ end }}
      {{ with .Get "link-general" }}
      <a href="{{ . }}">{{ i18n "game.link.general"  }}</a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
</table>
</details>
